/* 主体距离顶部距离 */
.container{
    padding-top: 90px;
}
/* 帖子样式处理 */

.details{
    color: #8A8A8A;
}

/* 提示帖子属于哪个模块 */
.details .btn-default{
    margin: 10px;
    background: #F5F5F5;
    padding: 4px;
    
}
/* 标题 */
.details h3{
    margin: 10px;
    color: black;
}

/* 时间等提示信息 */
.details p{
    margin: 20px 10px 0;
    padding-bottom: 5px;
}
/* 图标 */
.details span>img{
    margin: 0 3px 0 8px;
    width: 20px;
}
/* 内容 */
.details .caption,.reply .caption{
    /* border: 1px dotted #F1F1F1; */
    /* background: #F5F5F5; */
    margin: 10px;
}
/* 按钮 */
.details .text-center a{
    width: 80px;
    margin: 10px ;
}

/* 用户部分 */
/* 用户头像 */
.users img,.reply img{
    margin: 20px auto;
    width: 90px;
    height: 90px;
    border: 1px solid #8A8A8A;
}
/* 用户名称 */
.users a{
    font-size: 24px;
    color: #8A8A8A;
    padding: 0 90px 10px;
    border-bottom: 1px solid #F1F1F1;
}

.users a:hover{
    color: #1E88A8;
}

/* 回答，关注，粉丝 */
.users div[class="col-sm-4"] {
    margin: 15px 0;
}

/* 关注，发私信按钮 */
.users button{
    margin: 0 10px 15px;
}

/* 话题 */
.adv p{
    font-size: 24px;
    margin: 10px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #F1F1F1;
}

.adv .caption a{
    color: #8A8A8A;
    margin: 5px 0;
}

/* 回复 */
.reply div[class="col-sm-10"]{
    margin: 40px 0 0;
}

.reply .tools{
    /* margin-left: 85%; */
    text-align: right;
    padding: 5px 0;
}
.reply .tools:not(:last-child){
    border-bottom: 1px solid #F1F1F1;
}
.reply .tools a{
    color: #8A8A8A;
    padding: 0 10px;
}
.reply .tools a:first-child{
    border-right: 1px solid #8A8A8A;
}

.reply .caption{
    background-color: #F5F5F5;
}

#replyContent{
    display: none;
}

