.m {
    width: 800px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

}

.container {
    height: 88.5vh;
}

section input {
    width: 600px;
}

.btn-post {
    padding: 10px 385px;
    /* margin-left: 20px; */
}