
.head img{
    margin-top: 10px;
}
.head >span{
    font-size: 40px;
    font-weight: bold;
}
.put{
    margin-top: 60px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eee;
}

.btn-primary img{
    width: 20px;
    margin-right: 10px;
}

.table tr:last-child{
    border-bottom: 1px solid #ddd;
}

.service-content{
    position: relative;
}
.service-content .btn{
    margin-bottom: 10px;
    position: relative;
    left: 84%;
    margin-top: -8px;
    padding: 8px 35px;
}

.thumbnail img{
    margin-top: 30px;
}

.caption h3{
    letter-spacing:6px;
}

.caption a{
    padding: 8px 110px;
}

